.box1 {
    width: 945px;
    height: 345px;
    background-image: url(../img/01.jpg);
        width: 945px;
        height: 370px;
        /* background-image: url(../img/01.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; */
        background: url(../img/02.jpg) no-repeat center center;
        background-size: cover;
        margin: 0 auto;
}
.c1 {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
}
.c2 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}